#tab.calendar{
    text-align: center;
    background-color: #000000;
    overflow: hidden;
}

#tab.calendar>ul>li{
    width: 31%;
    height:31%;
    margin: 1%;
    border-radius: 10%;
    float:left;
    background-color:#007ca3;
}

#tab>ul>li.active{
    background-color: whitesmoke;
}
